version: '2'
services:
  mosca:
    image: matteocollina/mosca

  random-sensors:
    build: docker/randomsensors
    environment:
      - BROKER_ADDRESS=mqtt://mosca
    depends_on:
      - mosca

  mongodb:
    image: mongo
    ports:
      - "27017:27017"

  sensors-to-db:
    build: docker/sensorstodb
    entrypoint: /usr/src/app/entrypoint.sh
    command: [ node, dist/sensors-to-db.js ]
    environment:
      - SENSORS_TO_DB_DB=mongodb://mongodb:27017/test
      - SENSORS_TO_DB_BROKER=ws://mosca
    depends_on:
      - mongodb
      - mosca

  api-server:
    build: .
    entrypoint: /usr/src/app/entrypoint.sh
    command: [node, index.js]
    environment:
      - SENSORS_TO_DB_DB=mongodb://mongodb:27017/test
      - SENSORS_TO_DB_BROKER=ws://mosca
    ports:
      - "8008:8080"
    depends_on:
      - mongodb
      - random-sensors
      - sensors-to-db

  mqtt-displayer:
    build: docker/mqttdisplayer
    ports:
      - "8080:3000"
    depends_on:
      - api-server
      - mosca